.cont{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 60px;
    width: 1850px;
    height:850px;
    position:absolute;
    margin-top: 2rem;
    margin-left:0px;
    
}